USE [master]
GO
/****** Object:  Database [ArranjosRoupa]    Script Date: 23/04/2025 17:51:41 ******/
CREATE DATABASE [ArranjosRoupa]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ArranjosRoupa', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArranjosRoupa.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ArranjosRoupa_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ArranjosRoupa_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ArranjosRoupa].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ArranjosRoupa]
GO
/****** Object:  Table [dbo].[Arranjo]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Arranjo](
	[ID_Arranjo] [int] NOT NULL,
	[Tipo_Arranjo] [nvarchar](50) NULL,
	[Preco_Base] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Arranjo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[ID_Cliente] [int] NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Telefone] [varchar](15) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Encomenda]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Encomenda](
	[ID_Encomenda] [int] NOT NULL,
	[Data] [date] NULL,
	[Estado] [nvarchar](50) NULL,
	[ID_Fornecedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Encomenda] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fornecedor]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fornecedor](
	[ID_Fornecedor] [int] NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Prazo_Medio_Entrega] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Fornecedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loja]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loja](
	[ID_Loja] [int] NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Morada] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Loja] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material](
	[ID_Material] [int] NOT NULL,
	[Nome] [nvarchar](100) NULL,
	[Consumo_Medio_Diario] [decimal](10, 2) NULL,
	[ID_Fornecedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_Encomenda]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_Encomenda](
	[ID_Encomenda] [int] NOT NULL,
	[ID_Material] [int] NOT NULL,
	[Quantidade] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Encomenda] ASC,
	[ID_Material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peca]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peca](
	[ID_Peca] [int] NOT NULL,
	[Tipo_Peca] [nvarchar](50) NULL,
	[Cor] [nvarchar](30) NULL,
	[Tamanho] [nvarchar](10) NULL,
	[Tecido] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Peca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Peca_Arranjo]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Peca_Arranjo](
	[ID_Peca] [int] NOT NULL,
	[ID_Arranjo] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Peca] ASC,
	[ID_Arranjo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido](
	[ID_Trabalho] [int] NOT NULL,
	[Estado] [nvarchar](50) NULL,
	[Urgente] [bit] NULL,
	[Data_Entrega] [date] NULL,
	[Data_Levantamento] [date] NULL,
	[Tipo] [nvarchar](50) NULL,
	[ID_Cliente] [int] NULL,
	[ID_Loja] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Trabalho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pedido_Peca]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pedido_Peca](
	[ID_Trabalho] [int] NOT NULL,
	[ID_Peca] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Trabalho] ASC,
	[ID_Peca] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReciboPagamento]    Script Date: 23/04/2025 17:51:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReciboPagamento](
	[ID_Recibo] [int] NOT NULL,
	[Tipo_Pagamento] [nvarchar](50) NULL,
	[Data_Pagamento] [date] NULL,
	[Valor] [decimal](10, 2) NULL,
	[ID_Trabalho] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Recibo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Encomenda]  WITH CHECK ADD FOREIGN KEY([ID_Fornecedor])
REFERENCES [dbo].[Fornecedor] ([ID_Fornecedor])
GO
ALTER TABLE [dbo].[Material]  WITH CHECK ADD FOREIGN KEY([ID_Fornecedor])
REFERENCES [dbo].[Fornecedor] ([ID_Fornecedor])
GO
ALTER TABLE [dbo].[Material_Encomenda]  WITH CHECK ADD FOREIGN KEY([ID_Encomenda])
REFERENCES [dbo].[Encomenda] ([ID_Encomenda])
GO
ALTER TABLE [dbo].[Material_Encomenda]  WITH CHECK ADD FOREIGN KEY([ID_Material])
REFERENCES [dbo].[Material] ([ID_Material])
GO
ALTER TABLE [dbo].[Peca_Arranjo]  WITH CHECK ADD FOREIGN KEY([ID_Arranjo])
REFERENCES [dbo].[Arranjo] ([ID_Arranjo])
GO
ALTER TABLE [dbo].[Peca_Arranjo]  WITH CHECK ADD FOREIGN KEY([ID_Peca])
REFERENCES [dbo].[Peca] ([ID_Peca])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([ID_Cliente])
REFERENCES [dbo].[Cliente] ([ID_Cliente])
GO
ALTER TABLE [dbo].[Pedido]  WITH CHECK ADD FOREIGN KEY([ID_Loja])
REFERENCES [dbo].[Loja] ([ID_Loja])
GO
ALTER TABLE [dbo].[Pedido_Peca]  WITH CHECK ADD FOREIGN KEY([ID_Peca])
REFERENCES [dbo].[Peca] ([ID_Peca])
GO
ALTER TABLE [dbo].[Pedido_Peca]  WITH CHECK ADD FOREIGN KEY([ID_Trabalho])
REFERENCES [dbo].[Pedido] ([ID_Trabalho])
GO
ALTER TABLE [dbo].[ReciboPagamento]  WITH CHECK ADD FOREIGN KEY([ID_Trabalho])
REFERENCES [dbo].[Pedido] ([ID_Trabalho])
GO
USE [master]
GO
